<!-- ko if: isLoading -->
<h4>Loading...</h4>
<!-- /ko -->

<!-- ko if: isLoading() === false && id() === 0 -->
<h3>Quote not found</h3>
<!-- /ko -->

<!-- ko if: isLoading() === false && id() > 0 -->

<meta property="og:title" content="Geddit.LOL" />
<meta property="og:type" content="article" />
<meta property="og:url" data-bind="attr: { content: 'http://geddit.lol/quote/' + id() }" />
<meta property="og:image" content="http://geddit.lol/assets/1k-team.png" />
<meta property="og:description" data-bind="attr: { content: ogDescription }" />

<div class="card" style="margin: 2px" data-bind="visible: !hideQuote()">
  <div class="card-header">
    <strong>
      Quote #<span data-bind="text: id"></span>
      <span class="quote__vote" data-bind="click: voteUp">👍</span>
      (<span data-bind="text: voteText, style: { color: voteColor }"></span>)
      <span class="quote__vote" data-bind="click: voteDown">👎</span>
    </strong>

    <span data-bind="if: isApprovable() && !isApproved()">
      <span class="quote__approve label label-success" data-bind="click: allow">Approve</span>
    </span>

    <span data-bind="if: isApprovable">
      <span class="quote__approve label label-danger" data-bind="click: disallow">Delete</span>
    </span>

    <span data-bind="if: isDeleted">
      <mark>Deleted</mark>
    </span>

  </div>
  <div class="card-body" style="padding-top: 3px">
    <pre data-bind="text: quoteText" style="padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px"></pre>
  </div>
  <div class="card-footer">
    <em data-bind="text: byline"></em>
  </div>
</div>
<!-- /ko -->

<style>
  .quote__vote,
  .quote__approve {
    cursor: pointer
  }
</style>