<div class="container">
  <div class="columns">
    <div class="column col-1"></div>
    <div class="column col-10">

      <header class="navbar">

        <section class="navbar-section">
          <span style="margin-right: 5px">
            <h5>
              <strong>Geddit? LOL</strong>
            </h5>
          </span>

          <ul class="tab" data-bind="foreach: leftNavItems">
            <li class="tab-item" data-bind="visible: display, css: { active: $parent.currentItem().name === name }">
              <ge-link class="btn btn-link" params="href: url">
                <span data-bind="text: name"></span>
              </ge-link>
            </li>
          </ul>
        </section>

        <section class="navbar-section">
          <ul class="tab" data-bind="foreach: rightNavItems">
            <li class="tab-item" data-bind="visible: display, css: { active: $parent.currentItem().name === name }">
              <ge-link class="btn btn-link" params="href: url">
                <span data-bind="text: name"></span>
              </ge-link>
            </li>
          </ul>
        </section>
        
      </header>

      <div data-bind="component: currentItem().component">
      </div>
    </div>
    <div class="column col-1"></div>
  </div>
</div>

<style>
  header {
    border-bottom: 2px solid #b2b8e5;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  body {
    position: absolute;
    top: 0px;
    bottom: 20px;
    width: 100%
  }
</style>