<div class="container">
  <div class="columns">
    <div class="column col-1"></div>
    <div class="column col-10">

      <header class="navbar">
        <section class="navbar-section">
          <span style="margin-right: 5px">
            <h5>
              <strong>Geddit? LOL</strong>
            </h5>
          </span>

          <ul class="tab" data-bind="foreach: navItems">
            <li class="tab-item" data-bind="visible: display, css: { active: $parent.currentItem().name === name }">
              <ge-link class="btn btn-link" params="href: url">
                <span data-bind="text: name"></span>
              </ge-link>
            </li>
          </ul>

        </section>

        <section class="navbar-section">
          <span data-bind="visible: canModerate">
            <ge-link class="btn btn-link" params="href: '/unapproved'">unapproved</ge-link>
            <ge-link class="btn btn-link" params="href: '/my-account'">
                <span data-bind="text: cookie().displayName"></span>
          </ge-link>
          </span>
          <span data-bind="visible: isAuthenticated">
            <ge-link class="btn btn-link" params="href: '/logout'">logout</ge-link>
          </span>
          <span data-bind="ifnot: isAuthenticated">
            <ge-link class="btn btn-link" params="href: '/login'">login/register</ge-link>
          </span>
          <div class="input-group input-inline">
            <input class="form-input" type="text" placeholder="search" />
            <button class="btn btn-primary input-group-btn">Search</button>
          </div>
        </section>
      </header>

      <div data-bind="component: currentItem().component">
      </div>
    </div>
    <div class="column col-1"></div>
  </div>
</div>

<style>
  header {
    border-bottom: 2px solid #b2b8e5;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  body {
    position: absolute;
    top: 20px;
    bottom: 20px;
    width: 100%
  }
</style>